# FastAPI & Server
fastapi==0.111.0
uvicorn[standard]==0.30.0
python-multipart==0.0.9

# Inference
tensorflow==2.15.0
numpy==1.26.4
Pillow==10.3.0
opencv-python-headless==4.9.0.80

# Redis Feature Store
redis==5.0.4

# Database logging
psycopg2-binary==2.9.9

# Prometheus metrics
prometheus-client==0.20.0

# Drift Detection
evidently==0.4.30
scipy==1.13.0
